.contact-info-box{
    background-color: rgba(0, 0, 0, 0.329);
    width: 350px;
    padding: 15px;
    border-radius: 6px;

    color: grey;
    h4{
        line-height: 24px;
        margin-bottom: 24px;
    }
    .contact-option{
        display: flex;
        align-items: center;
        margin-top: 15px;
        svg{
            color: yellow;
            font-size: 16px;
        }
        .text{
            color: white;
            margin-top: 10px;
        }
    }
}